@import "../../styles/sass/variables";

.userProfileBadge {
  margin: 0 1rem;
  display: inline-block;
  width: 1.8rem;
  height: 1.8rem;
  overflow: hidden;
  border-radius: 1rem;
  top: 3px;
  position: relative;
  transition: all .3s;

  &:hover {
    cursor: pointer;
    transform: scale(1.2);
  }
}

.editableText {
  outline: none;
  border: none;
  padding: .2rem;

  &:hover {
    cursor: pointer;
    color: $color-primary;

  }

  &:focus {
    cursor: text;
    color: $color-primary;
  }

}

.fileTypeContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  //background-color: $color-white;
  border-radius: 3px;

  & .fileTypeIcon {
    font-size: 4rem;
    color: $color-primary;
  }

  & .fileName {
    font-size: 1rem;
    position: relative;
    top: 10px;
  }
}

.fileUpload {
  display: flex;
  align-items: center;
  color: $color-primary;
  border: 1px dashed $color-primary;
  padding: .5rem 1rem;
  margin-right: 2rem;

  &:hover {
    cursor: pointer;
    color: green;
  }

  & input[type='file'] {
    display: none;
  }

  & .fileUploadLabel {
    font-weight: 600;
  }

  & .icon {
    font-size: 2rem;
    margin-right: 1rem;
  }
}

.uploadButton {
  background-color: $color-primary;
  border: none;
  color: $color-white;
  padding: 0.3rem 1rem;
  border-radius: 3px;
}


