@import "../../styles/sass/variables";
@import "../../styles/sass/mixins";

.userProfileBadge {
  margin: 0 1rem;
  display: inline-block;
  width: 1.8rem;
  height: 1.8rem;
  overflow: hidden;
  border-radius: 1rem;
  top: 3px;
  position: relative;
  transition: all .3s;

  &:hover {
    cursor: pointer;
    transform: scale(1.2);
  }
}

.editableText {
  outline: none;
  border: none;
  padding: .2rem;

  &:hover {
    cursor: pointer;
    color: $color-primary;

  }

  &:focus {
    cursor: text;
    color: $color-primary;
  }

}

.fileTypeContainer {
  display: flex;
  //flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 3px;

  & .fileTypeIcon {
    color: $color-primary;
  }

}

.fileUpload {
  display: flex;
  align-items: center;
  color: $color-primary;
  //border: 1px dashed $color-primary;
  //padding: .5rem 1rem;
  //margin-right: 2rem;

  &:hover {
    cursor: pointer;
    color: green;
  }

  & input[type='file'] {
    display: none;
  }

  & .fileUploadLabel {
    font-weight: 600;
    font-size: .9rem;
  }

  & .icon {
    font-size: 1.8rem;
    margin: 0 .5rem;
  }
}

.appButton {
  background-color: $color-primary;
  border: none;
  color: $color-white;
  padding: 0.3rem 1rem;
  border-radius: 3px;
  max-height: 40px;
  transition: all .3s;
  text-transform: capitalize;

  &:hover {
    background-color: darken($color-primary, 10%);
  }

}

.centered {
  @include absCenter();
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);

  & .modalCloseIcon {
    color: crimson;
    float: right;
    cursor: pointer;
    font-size: 1.8rem;

    &:hover {
      color: darken(crimson, 10%);
    }
  }
}


.postCard {
  margin-bottom: 2rem;
  border-bottom: 1px solid $color-border;

  & .postHeader {

    display: flex;
    align-items: center;

    & img {
      width: 2rem !important;
      max-height: 2rem;
      border-radius: 1rem;
      margin-right: 1rem;
    }

    & div {
      margin: 0 .5rem;

      & div:first-child {
        font-weight: 500;
      }

      & div:nth-child(2) {
        font-size: .8rem;
        position: relative;
        bottom: 6px
      }
    }

  }

  & .postBody {

    & p {
      margin: .2rem 0;
    }

    & div {
      background-color: $color-background;
      padding: .5rem 0;
      border-radius: 5px;
    }

  }

}

.newPostInputContainer {

  display: flex;
  align-items: center;
  padding: 0 3rem;
  justify-content: center;

  & .postControlContainer {

    width: 80%;
    margin: 0 1rem;


    & textarea {
      outline: none;
      padding: .3rem 1rem;
      background-color: $color-background;
      border: 1px solid $color-border;
      box-shadow: 0 .1rem .1rem rgba($color-black, .1);
      border-radius: 5px;
      width: 100%;
      max-height: 18rem;

      &:focus {
        border-color: $color-primary;
      }
    }

    & .postAttachments {
      margin-top: .5rem;
      padding-top: .5rem;
      border-top: 1px solid $color-border;
    }
  }

  & .sendBtn {
    color: $color-primary;
    font-size: 1.7rem;
    cursor: pointer;
    transition: all .3s;

    &:hover {
      transform: scale(1.15);
    }
  }
}


.modalContentWrapper {

  display: flex;
  flex-direction: column;
  height: 50vh;
  width: 50vw;
  background-color: $color-background;
  border-radius: 5px;

  @include respond(tab-land) {
    height: 60vh;
    width: 70vw;
  }

  @include respond(phone) {
    height: 70vh;
    width: 90vw;
  }
}


