@import "../../styles/sass/variables";
@import "../../styles/sass/mixins";

.userProfileBadge {
  margin: 0 1rem;
  display: inline-block;
  width: 1.8rem;
  height: 1.8rem;
  overflow: hidden;
  border-radius: 1rem;
  top: 3px;
  position: relative;
  transition: all .3s;

  &:hover {
    cursor: pointer;
    transform: scale(1.2);
  }
}

.editableText {
  outline: none;
  border: none;
  padding: .2rem;

  &:hover {
    cursor: pointer;
    color: $color-primary;

  }

  &:focus {
    cursor: text;
    color: $color-primary;
  }

}

.fileTypeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 3px;

  & .fileTypeIcon {
    font-size: 3rem;
    color: $color-primary;
  }

  & .fileName {
    font-size: 1rem;
    //position: relative;
    //top: 10px;
  }
}

.fileUpload {
  display: flex;
  align-items: center;
  color: $color-primary;
  //border: 1px dashed $color-primary;
  //padding: .5rem 1rem;
  //margin-right: 2rem;

  &:hover {
    cursor: pointer;
    color: green;
  }

  & input[type='file'] {
    display: none;
  }

  & .fileUploadLabel {
    font-weight: 600;
  }

  & .icon {
    font-size: 2rem;
    margin: 0 .5rem;
  }
}

.appButton {
  background-color: $color-primary;
  border: none;
  color: $color-white;
  padding: 0.3rem 1rem;
  border-radius: 3px;
  max-height: 40px;
  transition: all .3s;
  text-transform: capitalize;

  &:hover {
    background-color: darken($color-primary, 10%);
  }

}

.centered {
  @include absCenter();
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);

  & .modalCloseIcon {
    color: crimson;
    float: right;
    cursor: pointer;
    font-size: 1.8rem;

    &:hover {
      color: darken(crimson, 10%);
    }
  }
}


