
@import "../../styles/sass/mixins";
@import "../../styles/sass/variables";


.background {
  background-image: linear-gradient(to right bottom, rgba($color-primary, 0.8), rgba($color-secondary, 0.8));
  min-height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;

  @include respond(phone) {
    padding: .5rem;
  }

  & .card {
    max-width: 900px;
    width: 100%;
    margin: 6rem 0;
    background-color: rgba($color-white, 0.7);
    padding: 3rem 3rem 1rem;
    border-radius: 4px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

    @include respond(phone) {
      padding: 2rem 1rem;
    }
  }

}



.logo {
  position: relative;
  margin: 0 auto;
  top: 2rem;
  width: 18rem;

  @include respond(phone) {
    width: 14rem;
  }

}


