
@import "../../styles/sass/variables";
@import "../../styles/sass/mixins";

.infoContainer {
  display: flex;
  justify-content: center;
  margin-top: 3rem;

  & .title {
    display: block;
    font-size: 2rem;
    border-bottom: 1px solid $color-grey-light;
    padding-bottom: .5rem;
    color: $color-primary;
  }

  & .extraInfo {
    display: flex;
    justify-content: space-between;
  }
}

.link {
  color: $color-primary;

  &:hover {
    cursor: pointer;
    color: darken($color-primary, 10%);
  }
}

.extraInfoModal {
  display: flex;
  flex-direction: column;
  min-height: 60vh;
  width: 50vw;
  //justify-content: space-evenly;
  background-color: $color-white;
  border-radius: 5px;
  padding: 1rem 2rem;

  & p {
    font-weight: 500;
    color: $color-primary;
    margin-bottom: .5rem;
  }

  & .inputRow {
    margin: 1.5rem 0;
  }

  @include respond(tab-land) {
    height: 60vh;
    width: 70vw;
  }

  @include respond(phone) {
    height: 70vh;
    width: 90vw;
  }

  & .codeView {
    display: flex;
    flex: 1
  }

  & .commentView {

  }
}