@import "../../styles/sass/variables";
@import "../../styles/sass/mixins";

.filesSectionContainer {
  padding-top: 2rem;

  & .headerText {
    font-size: 2rem;
  }
}


.fileCardContainer {

  box-shadow: 0 .1rem .5rem rgba($color-black, .1);
  background-color: $color-white;
  margin: 1rem 0;
  padding: .5rem 1rem;


  & .fileType {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: .5rem;
  }


  & .fileCardInfo {
    text-align: center;
    color: $color-grey-dark;
    text-transform: capitalize;
    font-size: .9rem;
    margin-bottom: .2rem;

    @include respond(tab-land) {
      text-align: left;
    }
  }

}

.uploadButton {
  background-color: $color-primary;
  border: none;
  color: $color-white;
  padding: 0.3rem 1rem;
  border-radius: 3px;
  transition: all .3s;
  margin-right: 1rem;
  position: relative;
  top: 10px;

  &:hover {
    background-color: darken($color-primary, 20%);
  }
}

.removeButton {
  border: none;
  color: crimson;
  padding: 0.3rem 1rem;
  transition: all .3s;
  position: relative;
  top: 10px;
  &:hover {
    color: darken(crimson, 20%);
  }
}

