

@import "../../styles/sass/variables";
@import "../../styles/sass/mixins";

.authPageBackground {
  background-image: linear-gradient(to right bottom, rgba($color-primary, 0.8), rgba($color-secondary, 0.8));
  min-height: 100vh;
}

.authFormContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;

  @include respond(phone) {
    padding: .5rem;
  }

  & .authFormCard {
    max-width: 900px;
    width: 100%;
    margin: 6rem 0;
    background-color: rgba($color-white, 0.7);
    padding: 3rem 3rem 1rem;
    border-radius: 4px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

    @include respond(phone) {
      padding: 2rem 1rem;
    }
  }

}

.authPageLogo {
  position: relative;
  margin: 0 auto;
  top: 2rem;
  width: 18rem;

  @include respond(phone) {
    width: 14rem;
  }

}

.cardHeaderContainer {
  display: flex;
  align-items: flex-end;
  margin: 0 0 2rem;

  & .cardHeaderText {
    text-transform: uppercase;
    font-size: 3.5rem;

    @include respond(phone) {
      font-size: 2rem;
    }

    @include respond(tab-port) {
      font-size: 2.5rem;
    }
  }

}

.formContainer {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include respond(tab-port) {
    display: block;
  }

  & .formContent {
    width: 100%;

    & .formGroup {
      margin-bottom: 1.3rem;

      & label {
        margin-bottom: .4rem;
      }
    }

  }

  & .authFormImage {
    margin: 0 2rem;
    @include respond(tab-port) {
      display: none;
    }
  }
}


.formFooterContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;

  & .formFooterText {
    text-align: center;
    margin-top: 1rem;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: darken($color-secondary, 25%);
  height: 20rem;
  padding: 2rem 1rem;

  .row {
    display: flex;
    justify-content: space-between;
    margin: 1.5rem 0;
  }

  .icon {
    color: $color-white !important;
    font-size: 2.3rem;
    margin: 0 2rem;
  }

  .link {
    color: $color-white;
    margin: 0 1rem;
  }

  .rightsText {
    color: lighten($color-grey-light, 20%);
  }
}