@import '../../styles/sass/variables';
@import "../../styles/sass/mixins";

$sidebar-bg-color: #fff !default;
@import '~react-pro-sidebar/dist/scss/styles.scss';

.sideNavbarWrapper {
  width: 80px;
  height: 100vh;
}

.sideNavbar {

  top: 0;
  position: fixed !important;
  //background-color: red !important;

  .toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4.5rem;
    padding: .6rem 0;
    font-size: 1.2rem;
    border: none !important;

    &:hover {
      color: $color-primary;
    }
  }

  .logoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 22rem;
    max-height: 10rem;

    & .roomName {
      font-size: 1rem;
      color: $color-secondary;
      text-align: center;
      margin-top: 1rem;
    }
  }
}

.newPostForm {
  width: 100%;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  & .submitBtn {
    width: 100%;
    background-color: $color-primary;
    color: $color-white;
    border: none;
    padding: .3rem .5rem;

    &:disabled {
      background-color: $color-secondary;
    }

  }


  & .postControl {
    width: 100%;
    display: flex;
    margin-top: .5rem;

    & input[type='file'] {
      display: none;
    }

    & .fileUpload {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.5rem;
      color: $color-primary;
      width: 100%;
      border: 1px solid $color-primary;
      padding: 6px 12px;
      cursor: pointer;

      &:hover {
        color: darken($color-primary, 20%);
      }

      & .fileUploadLabel {
        font-size: 1rem;
        margin: 0 .5rem;
        white-space: nowrap;
        overflow: hidden;
      }
    }

    & .removeFile {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.5rem;
      color: $color-primary;
      width: 100%;
      border: 1px solid $color-primary;
      padding: 6px 12px;
      cursor: pointer;

      &:hover {
        color: crimson;
      }

      & .removeFileLabel {
        font-size: 1rem;
        margin: 0 .5rem;
      }

    }
  }


  & .textAreaControl {
    border: none;
    width: 100%;
    padding: .5rem 1rem;
    outline: none;
    box-shadow: 0 .1rem .5rem rgba($color-black, .1);
    border-radius: 5px;
    color: $color-grey-dark;

  }
}

.newsFeed {
  //background-color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}

.post {
  width: 100%;
  background-color: $color-white;
  box-shadow: 0 .1rem .5rem rgba($color-black, .1);
  border-radius: 5px;
  overflow: hidden;
  margin: .5rem 0;

  @include respond(tab-land) {
    width: 70%;
  }

  @include respond(tab-port) {
    width: 80%;
  }

  @include respond(phone) {
    width: 100%;
  }

  & .postHeader {
    padding: .5rem 1rem;
    display: flex;

    & .imageContainer {
      max-width: 3rem;
      max-height: 3rem;
      border-radius: 1.5rem;
      overflow: hidden;
      margin-right: 1rem;

    }

    & .postInfo {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      & .username {
        color: $color-grey-dark;
        font-size: 1rem;
        font-weight: 500;
        margin-right: 1rem;
      }

      & .time {
        font-size: .75rem;
        margin: 0;
      }

      & .optionsIcon {
        font-size: 1.5rem;

        &:hover {
          cursor: pointer;
          color: $color-primary;
        }
      }
    }

  }

  & .postContent {
    display: flex;
    flex-direction: column;
    align-items: center;

    & .postText {
      display: flex;
      align-self: flex-start;
      padding: 0 1rem;
      text-align: left;
      margin: 0 0 1rem;
    }

    & .postImage {
      display: block;
      width: 100%;
      height: auto;
      max-width: 30rem;
      max-height: 30rem;
      margin-bottom: 2rem;
    }
  }

  & .postFooter {
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-top: 1px solid lighten($color-secondary, 20%);

    & .postAction {

      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1;
      text-align: center;
      color: $color-grey-light;
      font-size: 1.5rem;
      border-radius: 5px;
      transition: all .2s;
      padding: .4rem 0;
      margin: .3rem 1rem;

      &:hover {
        color: $color-white;
        background-color: lighten($color-primary, 10%);
        cursor: pointer;
      }

    }

  }
}

.roomInfoRow {

  max-width: 25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1rem;
  text-transform: capitalize;
  margin: 1rem 0;

  & .key {
    font-weight: 600;
    margin-right: 3rem;
  }
}

.enrollButton {
  background-color: $color-primary;
  color: $color-white;
  border: none;
  padding: .2rem 1rem;
  transition: all .3s;
  border-radius: 3px;
  width: 100%;
  margin: 0 .2rem;

  &:hover {
    background-color: darken($color-primary, 20%);
  }
}

.roomPrice {
  margin: 0;
  width: 100%;
  color: $color-primary;
}

.lecturesPage {

  & .newLectureButtonContainer {
    display: flex;
    justify-content: center;
    margin: 2rem 0;

    & .newLectureButton {
      text-align: center;

      & .newLectureButtonIcon {
        font-size: 2rem;
        color: $color-primary;
      }

    }
  }

  & .lectureCard {
    width: 100%;
    box-shadow: 0 .1rem .2rem rgba($color-black, .25);
    border-bottom: 2px solid rgba(66, 103, 178, 0.56);
    //margin-bottom: 1rem;
    background-color: $color-white;
    //border-radius: 5px;
    transition: all .3s;
    padding: 1rem;
    display: flex;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        transform: scale(1.03);
      }
    }

    & .lectureNum {
      background-color: $color-primary;
      margin-right: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1rem;
      color: $color-white;
      font-size: 1.1rem;
      border-radius: 10px;
    }

    & .lectureCardInfo {
      width: 100%;
    }

    & .headerContainer {
      display: flex;
      justify-content: space-between;
      flex: 1;

      & a:first-child {
        color: $color-primary;
        font-weight: 500;
        //font-size: 1rem;
        margin-bottom: .5rem;
        padding: 0;
      }

      & div:not(:first-child) {
        color: $color-grey-dark;
        font-size: .9rem;
        min-width: 150px;
        text-align: end;
        padding: 0 .5rem;
      }

    }

    & .btnContainer {
      display: flex;
      min-width: 20rem;
      justify-content: center;
      flex: 1;
    }
  }
}

.newLectureForm {
  display: flex;
  flex-direction: column;
  height: 50vh;
  width: 50vw;
  justify-content: space-evenly;
  background-color: $color-white;
  border-radius: 5px;
  padding: 1rem 2rem;

  & .newLecture {
    font-size: 2rem;
    text-transform: uppercase;
    color: $color-primary;
    text-align: center;
  }

  & .inputRow {
    margin: 1.5rem 0;
  }

  @include respond(tab-land) {
    height: 60vh;
    width: 70vw;
  }

  @include respond(phone) {
    height: 70vh;
    width: 90vw;
  }

  & label {
    font-weight: 500;
  }

  & input[type='text'], input[type='time'], input[type='date'] {
    width: 100%;
    outline: none;
    border: 1px solid rgba(62, 62, 62, 0.43);
    background-color: $color-white;
    border-radius: 3px;

    &:focus {
      border-color: $color-primary;
    }
  }

  & input[type='submit'] {
    background-color: $color-primary;
    color: $color-white;
    border: none;
    padding: .4rem 0;
    border-radius: 5px;
    transition: all .3s;

    &:hover {
      background-color: darken($color-primary, 10%);
    }

  }
}

.tabBar {

  display: flex;
  justify-content: center;
  border-bottom: 1px solid #4267B2;

  & .tab {
    min-width: 400px !important;
    border: 1px solid rgba(66, 103, 178, 0.48) !important;
  }
}




