
@import '../../styles/sass/variables';
@import "../../styles/sass/mixins";

.sideNavbarWrapper {
  width: 80px;
  height: 100vh;
}

.sideNavbar {
  top: 0;
  position: fixed !important;
  .toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4.5rem;
    padding: .6rem 0;
    font-size: 1.2rem;
    border: none !important;
    &:hover {
      color: $color-primary;
    }
  }

  .logoContainer {
    width: 90%;
    margin: 0 auto;

    & .roomName {
      font-size: 1rem;
      color: $color-secondary;
      text-align: center;
      margin-top: 1rem;
    }

  }
}

.newPostForm {
  width: 100%;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  & .submitBtn {
    width: 100%;
    background-color: $color-primary;
    color: $color-white;
    border: none;
    padding: .3rem .5rem;

    &:disabled {
      background-color: $color-secondary;
    }

  }



  & .postControl {

    width: 100%;
    display: flex;

    & input[type='file'] {
      display: none;
    }

    & .fileUpload {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.5rem;
      color: $color-primary;
      width: 100%;
      border: 1px solid $color-primary;
      padding: 6px 12px;
      cursor: pointer;

      &:hover {
        color: darken($color-primary, 20%);
      }

      & .fileUploadLabel {
        font-size: 1rem;
        margin: 0 .5rem;
        white-space: nowrap;
        overflow: hidden;
      }
    }

    & .removeFile {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.5rem;
      color: $color-primary;
      width: 100%;
      border: 1px solid $color-primary;
      padding: 6px 12px;
      cursor: pointer;

      &:hover {
        color: crimson;
      }

      & .removeFileLabel {
        font-size: 1rem;
        margin: 0 .5rem;
      }

    }
  }


  & .textAreaControl {
    border: none;
    width: 100%;
    padding: .5rem 1rem;
    outline: none;
    box-shadow: 0 .1rem .5rem rgba($color-black, .1);
    border-radius: 5px;
    color: $color-grey-dark;

  }
}

.newsFeed {
  //background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}

.post {

  width: 50rem;
  background-color: $color-white;
  box-shadow: 0 .1rem .5rem rgba($color-black, .1);
  border-radius: 5px;
  overflow: hidden;
  margin: .5rem 0;

  @include respond(tab-land) {
    width: 70%;
  }

  @include respond(tab-port) {
    width: 80%;
  }

  @include respond(phone) {
    width: 100%;
  }

  & .postHeader {
    padding: .5rem 1rem;
    display: flex;

    & .imageContainer {
      width: 3rem;
      margin-right: 1rem;
      & .image {
        border-radius: 1.5rem;
      }
    }

    & .postInfo {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      & .username {
        font-size: 1rem;
        margin: 0;
      }

      & .time {
        font-size: .75rem;
        margin: 0;
      }

      & .optionsIcon {
        font-size: 1.5rem;
        &:hover {
          cursor: pointer;
          color: $color-primary;
        }
      }
    }

  }

  & .postContent {
    display: flex;
    flex-direction: column;

    & .postText {
      padding: 0 1rem;
      margin: 0;
      text-align: left;
    }

    & .postImage {
      width: 100%;
    }
  }

  & .postFooter {
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-top: 1px solid lighten($color-secondary, 20%);

    & .postAction {

      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1;
      text-align: center;
      color: $color-grey-light;
      font-size: 1.5rem;
      border-radius: 5px;
      transition: all .2s;
      padding: .4rem 0;
      margin: .3rem 1rem;

      &:hover {
        color: $color-white;
        background-color: lighten($color-primary, 10%);
        cursor: pointer;
      }

    }

  }

}

