
$color-primary: rgb(66, 103, 178);
$color-secondary: rgba(0, 0, 0, 0.38);
$color-white: #fff;
$color-black: #000;
$color-grey-dark: rgba(51, 51, 51, 0.09);
$color-grey-light: #777;
$color-background: #cacada;